<% if false %>
Copyright 2016 SourceClear Inc

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
<% end %>

<h1>Commits</h1>

<p><%= link_to 'Dashboard', controller: 'dashboard' %></p>

<% statuses = StatusTypes.collect { |k, v| [v[:name], k] } %>

<%= form_tag(url_for, method: 'get') do %>
    <%= label_tag(:status, 'Status:') %>
    <%= select_tag(:status_type_id,
                   options_for_select(['All'] + statuses, params[:status_type_id]),
                   onChange: '$(this.form).submit();') %>

    <%= label_tag(:audit_results, 'Audit Results:') %>
    <%= text_field_tag(:audit_results, params[:audit_results], placeholder: 'Contains text') %>
<% end %>

<table class="pretty" border="1" cellpadding="10" style="table-layout:fixed;" >
  <tr>
    <th width="140px"><%= sortable 'project_id' %></th>
    <th width="110px">Commit Hash</th>
    <th width="60px">GitHub</th>
    <th width="110px">Status</th>
    <th width="180px"><%= sortable 'commit_date' %></th>
    <th width="180px"><%= sortable 'date_created' %></th>
    <th>Audit Results</th>
  </tr>

  <% @commits.each do |commit| %>
    <tr>
      <td><%= "#{commit.project_id} - #{commit[:name]}" %></td>
      <td><%= link_to commit.commit_hash[0..12], commit_path(commit.id) %></td>
      <td><%= link_to 'commit', "https://www.github.com/#{commit[:name]}/commit/#{commit.commit_hash}", target: '_blank' %></td>
      <td>
<%= form_for :commit, url: commit_path(commit.id), method: :patch, remote: true, format: :js, authenticity_token: true do |f| %>
  <%= select('commit', 'status_type_id', statuses, { selected: commit.status_type_id }, onChange: "$(this.form).submit();" ) %>
<% end %>
      </td>
      <td><%= commit.commit_date %></td>
      <td><%= commit.date_created %></td>
      <td><code>
        <% @commit_audit_results[commit.audit_results].each do |audit_result| %>
          <%= audit_result['audit_result'] %>
        <% end %>
      </code></td>
    </tr>
  <% end %>
</table>

<%= paginate @commits %>
