<h1>Commits</h1>

<p><%= link_to 'Dashboard', controller: 'dashboard' %></p>

<table border="1" cellpadding="10" style="table-layout:fixed;" >
  <tr>
    <th width="150px">Project Name</th>
    <th width="150px">Commit Hash</th>
    <th width="180px">Commit Date</th>
    <th width="180px">Date Created</th>
    <th>Audit Results</th>
  </tr>

  <% @commits.each do |commit| %>
    <tr>
      <td><%= commit[:project_name] %></td>
      <td><%= link_to commit.commit_hash, commit_path(commit.id) %></td>
      <td><%= commit.commit_date %></td>
      <td><%= commit.date_created %></td>
      <td><pre><%= commit.audit_results %></pre></td>
    </tr>
  <% end %>
</table>
