<h1>Dashboard</h1>

<p><%= link_to 'Configurations', controller: 'configurations' %></p>

<p><%= link_to 'Projects', controller: 'projects' %></p>

<p><%= link_to 'Commits', controller: 'commits' %></p>

<p><%= link_to 'Rules', controller: 'rules' %></p>

<p><%= link_to 'Rule Sets', controller: 'rule_sets' %></p>
