<h1>Editing Rule Type</h1>

<%= form_for :rule_type, url: rule_type_path(@rule_type.id), method: :patch do |f| %>

  <% if @rule_type.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@rule_type.errors.count, "error") %> prohibited
        this rule type from being saved:
      </h2>
      <ul>
        <% @rule_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back', rule_types_path %>
