<h1>Rule Types</h1>

<p><%= link_to 'Dashboard', controller: 'dashboard' %></p>

<%= link_to 'New Rule Type', new_rule_type_path %>
<table border="1" cellpadding="10">
  <tr>
    <th>Name</th>
    <th colspan="2"></th>
  </tr>

  <% @rule_types.each do |rule| %>
    <tr>
      <td><%= rule.name %></td>
      <td><%= link_to 'Edit', edit_rule_type_path(rule.id) %></td>
      <td><%= link_to 'Delete', rule_type_path(rule.id),
        method: :delete,
        data: { confirm: 'Really? Are you being serious right now?' } %></td>
    </tr>
  <% end %>
</table>
