<h1>Projects</h1>

<%= link_to 'New Project', new_project_path %>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Rules</th>
    <th>Ignore Global Rules</th>
    <th>Next Audit</th>
    <th>Last Commit Time</th>
    <th>Date Created</th>
    <th colspan="3"></th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.rules %></td>
      <td><%= project.ignore_global_rules %></td>
      <td><%= project.next_audit %></td>
      <td><%= project.last_commit_time %></td>
      <td><%= project.date_created %></td>
      <td><%= link_to 'Show', project_path(project.id) %></td>
      <td><%= link_to 'Edit', edit_project_path(project.id) %></td>
      <td><%= link_to 'Delete', project_path(project.id),
        method: :delete,
        data: { confirm: 'Really? Are you being serious right now?' } %></td>
    </tr>
  <% end %>
</table>
