<h1>New Project</h1>

<%= link_to 'Back', projects_path %>

<%= form_for :project, url: projects_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :rule_sets %><br>
    <%= f.text_area :rule_sets %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
